# CHEQUEOS POST LIQUIDACION

#### Obtencion de Datos

### Importaciones

In [144]:
from decouple import config
import pyodbc as mssql
import numpy as np
import pandas as pd
from datetime import datetime

%config IPCompleter.greedy=True
pd.set_option('display.float_format', lambda x: '%.2f' % x)
from IPython.display import Markdown as md
import xlsxwriter as xw

import warnings
warnings.filterwarnings('ignore')

#### Parámetros para el cálculo

In [145]:
LIQUIDACION = config("LIQUIDACION") #, default="{ye:0000}-{mo:0>2}".format(ye=datetime.now().year, mo=datetime.now().month)) 
MINIMO_GENERAL = config("MINIMO_GENERAL", 0.0, cast=float)
MINIMO_POLICIAS = config("MINIMO_POLICIAS", 0.0, cast=float)
PROMEDIO_INCREMENTOS = config("INCREMENTO_MEDIO", default=0.1, cast=float)
EXCLUIR_REPARTICIONES_MINIMO_GARANTIZADO = [17, 26]

codigos_bruto = ['0N','0P','RF','0Q','0S','0R','XX','MX','PC','QC','TC','U0','OC','LC','PX','YX','NX','MC','SP','PE','W1','W3','W5','W7','WC','WS','WI','WP','WV','WL','WD','WA','WT','WW','WE','WF','WU','WG','WH']

In [146]:
# archivo de salida
writer = pd.ExcelWriter("resultados/Resumen_actual_contra_" + LIQUIDACION + ".xlsx", "xlsxwriter")
wb = writer.book

formato_moneda = wb.add_format({'num_format': '$ #,##0.00'})
formato_porcentaje = wb.add_format({'num_format': '#,##0.00 %'})
formato_fecha = wb.add_format({'num_format': 'dd/mm/yyyy'})

In [147]:
SERVER = config("SERVIDOR", "IPSBD") #"IPSBD"
conn = mssql.connect(f"DRIVER={{SQL SERVER}};SERVER={SERVER};DATABASE=LIQUIDACION;;Trusted_Connection=Yes;")

#### Obtención de la fecha de alta de la liquidacion seleccionada

In [148]:
from datetime import datetime
altas_desde = ''
altas_desde = pd.read_sql(f"""SELECT create_date FROM SYS.DATABASES
WHERE NAME like '%{LIQUIDACION}%'""",conn)["create_date"][0].strftime('%d/%m/%Y')

#### Obtención de Datos Generales

In [149]:
codigos = pd.read_sql( "SELECT * FROM CODIGOS", conn, index_col="CODIGO")
reparticion = pd.read_sql( "SELECT * FROM REPARTICION", conn, index_col="Cod" )
tipos_beneficio = pd.read_sql ( "SELECT * FROM BENEFICIO", conn, index_col="Cod" )
codigos_bruto_minimo = pd.read_sql("SELECT CODIGO FROM CODIGOS WHERE TIPO='C' AND BRUTO_MINIMO=1", conn)
codigos_minimo = codigos_bruto_minimo["CODIGO"]

### 
### Auditorias desde la fecha de creacion de la liquidacion de referencia
### para ser excluidas de la comparativa, por ser casos de "desvio" a los generales
### 
auditorias = pd.read_sql( """SELECT CONTROL FROM AUDIT A WHERE A.ORIGEN='D' AND 
A.FECHA > CONVERT(int, CONVERT(datetime, '{altas_desde}'))+2""".format(altas_desde=altas_desde), conn, index_col="CONTROL")

beneficios = pd.read_sql( """SELECT CONTROL, PLLA, ORDEN, AFILIADO, BENEFICIO, COD_BENEFICIO, LETRA,
CASE WHEN COD_BENEFICIO in (7,25,27,29) then DBO.PORCENTAJE_COMPARTIDA(CONTROL) ELSE 1 END AS PORCENTAJE
FROM Liquidacion.dbo.DatosAfiliado
WHERE HABILITADO='S'""", conn, index_col="CONTROL")
beneficios[["COD_BENEFICIO"]]=beneficios[["COD_BENEFICIO"]].astype("int64")

### Excluímos las auditorias de altas y modificaciones para evitar las "deformaciones"
beneficios_sin_altas = beneficios[~beneficios.index.isin(auditorias.index)]

liquidacion_ben = pd.read_sql(""" SELECT * FROM LIQUIDACION.DBO.LIQUIDACION""", conn, index_col=["PLLA", "ORDEN", "AFILIADO"])
beneficios_liq = pd.read_sql("SELECT * FROM [{liquidacion}].DBO.DATOSAFILIADO".format(liquidacion=LIQUIDACION), \
                             conn, index_col=["CONTROL"])
liquidacion_liq = pd.read_sql("SELECT * FROM [{liquidacion}].DBO.LIQUIDACION".format(liquidacion=LIQUIDACION), \
                                conn, index_col=["PLLA", "ORDEN", "AFILIADO"])

### Determinacion de brutos

#### Determinacion de los brutos actuales

In [150]:
### determinacion de la tabla de brutos de liquidacion activa
brutos_act = beneficios_sin_altas.reset_index().merge(liquidacion_ben, left_on=["PLLA", "ORDEN", "AFILIADO"],\
                              right_on=["PLLA", "ORDEN", "AFILIADO"])
brutos_act = brutos_act[brutos_act["CODIGO"].isin(codigos_bruto)].groupby(["CONTROL"]).sum("MONTO")[["MONTO"]]
# agrego aquellos que no tienen codigos de bruto
brutos_act = brutos_act.join(beneficios_sin_altas,  how="outer")
brutos_act["MONTO"].fillna(value=0.0, inplace=True)
brutos_act["BRUTO"] = brutos_act["MONTO"] + brutos_act["BENEFICIO"]
# dejo solo la columna del bruto recien calculada
brutos_act=brutos_act[["BRUTO","BENEFICIO", "COD_BENEFICIO", "LETRA"]]

#### Determinación de los brutos de referencia

In [151]:
###determinacion de la tabla de brutos de la liquidacion de referencia 
brutos_liq = beneficios_liq.join(liquidacion_liq, on=["PLLA","ORDEN","AFILIADO"],how="inner", rsuffix=".LIQ")\
        .join(codigos, on=["CODIGO"], how="inner", rsuffix=".COD")
#brutos_liq = brutos_liq[brutos_liq["CODIGO"].isin(codigos_bruto)].groupby(by="CONTROL").sum()[["MONTO"]]

brutos_liq.drop(columns=["CONTROL"], axis=1, inplace=True)
brutos_liq = brutos_liq[brutos_liq["CODIGO"].isin(codigos_bruto)].groupby(by="CONTROL").sum("MONTO")

In [152]:
brutos_liq = brutos_liq.join(beneficios_liq, on="CONTROL", how="outer", lsuffix="br_l" )
brutos_liq["MONTO"].fillna(value=0.0, inplace=True)
brutos_liq["BRUTO"] = brutos_liq["MONTO"] + brutos_liq["BENEFICIO"]

brutos_liq=brutos_liq[["CONTROL", "BRUTO", "BENEFICIO"]]
brutos_liq.set_index(keys="CONTROL", inplace=True)
brutos_liq=brutos_liq.sort_values(by="CONTROL")

### Comparativa de Brutos y Beneficios

In [153]:
###  comparativa 

brutos = brutos_liq.join( brutos_act, lsuffix="_liq", rsuffix="_act" )
brutos["DIF_BRUTOS"] = (brutos["BRUTO_act"]-brutos["BRUTO_liq"])/brutos["BRUTO_liq"]
brutos["DIF_BENEFICIOS"] = (brutos["BENEFICIO_act"]-brutos["BENEFICIO_liq"])/brutos["BENEFICIO_liq"]
diferencia_brutos=brutos.loc[(brutos["DIF_BRUTOS"] > 0.0) | \
                             (brutos["DIF_BENEFICIOS"] > 0.0), ["LETRA", "COD_BENEFICIO", "DIF_BRUTOS","DIF_BENEFICIOS", ]] \
                            .sort_values(by="DIF_BRUTOS", ascending=False)
diferencia_brutos=diferencia_brutos.astype({ 'LETRA' : 'int32', 'COD_BENEFICIO' : 'int32'})
diferencia_brutos=diferencia_brutos.join(reparticion, on="LETRA", how="inner", lsuffix=".db", rsuffix=".rep")
diferencia_brutos=diferencia_brutos.join(tipos_beneficio, on="COD_BENEFICIO", how="inner", lsuffix=".db", rsuffix=".tb")
diferencia_brutos=diferencia_brutos[["Detalle.db", "Detalle.tb", "DIF_BRUTOS", "DIF_BENEFICIOS" ]] \
    .rename(columns={"Detalle.db":"Reparticion", "Detalle.tb":"Tipo_Beneficio"})
diferencia_brutos=diferencia_brutos.sort_values(["Reparticion", "Tipo_Beneficio"])

diferencia_brutos.to_excel(writer, "Diferencia Brutos",startrow=0, header=True, index=True)


(max_row, max_col)= diferencia_brutos.shape
column_settings = []
column_settings = np.append(column_settings, {'header': "CONTROL"})
column_settings = np.append(column_settings, [{'header': column} for column in diferencia_brutos.columns])

worksheet = writer.sheets["Diferencia Brutos"]
worksheet.add_table(0, 0, max_row+1, max_col, {'columns': column_settings, 'autofilter': False, \
                                             'banded_rows': False, "style": None})

worksheet.set_column("A:A", 8)
worksheet.set_column("B:C", 35)
worksheet.set_column("D:E", 15, formato_porcentaje )

0

#### Diferencia por reparticion

In [154]:
### POR REPARTICION ###

inf_rep_letra = brutos.merge(reparticion, left_on="LETRA", right_on="Cod", how="inner")
inf_rep_letra = inf_rep_letra[['Detalle', 'BRUTO_liq', 'BENEFICIO_liq', 'BRUTO_act', 'BENEFICIO_act']].groupby(by="Detalle")\
                    .agg({'Detalle':'count', 'BRUTO_liq': 'sum', "BRUTO_act": "sum", "BENEFICIO_liq": "sum", "BENEFICIO_act": "sum"})
inf_rep_letra["DIF_BRUTOS"] = (inf_rep_letra["BRUTO_act"]-inf_rep_letra["BRUTO_liq"])/inf_rep_letra["BRUTO_liq"]
inf_rep_letra["DIF_BENEFICIOS"] = (inf_rep_letra["BENEFICIO_act"] - inf_rep_letra["BENEFICIO_liq"])/inf_rep_letra["BENEFICIO_liq"]
inf_rep_letra=inf_rep_letra[(inf_rep_letra["DIF_BRUTOS"]>0.01) | (inf_rep_letra["DIF_BENEFICIOS"]>0.01)]
inf_rep_letra=inf_rep_letra.rename(columns={"Detalle":"Cantidad"})

inf_rep_letra.to_excel(writer, "Dif Brutos Por Rep")

(max_row, max_col)= inf_rep_letra.shape

column_settings = []
column_settings = np.append(column_settings, {'header': "Reparticion"})
column_settings = np.append(column_settings, [{'header': column} 
    for column in  inf_rep_letra.columns])

worksheet = writer.sheets["Dif Brutos Por Rep"]
worksheet.add_table(0, 0, max_row, max_col, {'columns': column_settings, 
                                        'autofilter': False, \
                                        'banded_rows': False, "style": None})

worksheet.set_column("A:A", 35)
worksheet.set_column("B:B", 10)
worksheet.set_column("C:F", 20, formato_moneda)
worksheet.set_column("G:H", 20, formato_porcentaje )

0

### Mínimos

#### Mínimos Administración Central y Organismos

In [155]:
minimos_liq = liquidacion_liq[liquidacion_liq["CODIGO"].isin(codigos_minimo)]\
    .groupby(by=["PLLA","ORDEN","AFILIADO"]).agg({'MONTO':'sum', 'CODIGO': lambda x: ', '.join(x.astype(str))})

In [156]:

brutos_minimo = beneficios_liq.join(minimos_liq, on=["PLLA","ORDEN","AFILIADO"],how="left", rsuffix=".LIQ").\
    join(beneficios, on=["CONTROL"], how="inner", rsuffix=".BENEF")

In [157]:
brutos_minimo.fillna(0.0, inplace = True)
brutos_minimo.loc[brutos_minimo["BENEFICIO"] + brutos_minimo["MONTO"] < MINIMO_GENERAL * brutos_minimo["PORCENTAJE"], 
                  "ZX_NUEVO"] = round((MINIMO_GENERAL * brutos_minimo["PORCENTAJE"]) - brutos_minimo["BENEFICIO"] - brutos_minimo["MONTO"],2)

In [158]:
minimos_actuales = liquidacion_liq[liquidacion_liq["CODIGO"].isin(['ZX'])]

brutos_minimo = brutos_minimo.join(minimos_actuales, on=["PLLA","ORDEN","AFILIADO"],how="inner", rsuffix=".MIN_ACT")

minimos_ac = brutos_minimo[[ "PLLA", "ORDEN","AFILIADO", "MONTO", "CODIGO", "ZX_NUEVO", "MONTO.MIN_ACT"]]

In [165]:
minimos_ac[abs(minimos_ac["ZX_NUEVO"]-minimos_ac["MONTO.MIN_ACT"]) > 1.0]

        PLLA ORDEN AFILIADO   MONTO      CODIGO  ZX_NUEVO  MONTO.MIN_ACT
CONTROL
62791    006  2096    50845    0.00        0.00 193642.58      197252.37
35816    006  2799    51676 2014.81  MX, MX, NX 169854.62      172782.28
67810    006  4070    87576    0.00        0.00 108163.95      119544.52
37025    006  4243    52783 1375.23      MX, MX 102843.74      108992.85
67812    006  5798    94049    0.00        0.00  36426.46       45803.78
...      ...   ...      ...     ...         ...       ...            ...
59132    035  0105    57132    0.00        0.00 229947.65      230210.74
75264    035  0111    88480    0.00        0.00 202941.16      205292.41
74790    035  0211    41141    0.00        0.00 202321.34      204720.51
32241    038  0133    10079 1998.65  MX, MX, NX 229528.04      229673.68
38958    038  0152    55345 2331.00      MX, NX 230059.81      230136.44

[167 rows x 7 columns]

#### Mínimos Retiros Policiales y Carcelarios

In [160]:
#minimos[(minimos["Minimo"] >= 2500) & (minimos["Minimo"] <= 2502.5)]

In [161]:
# minimos = beneficios.join( beneficios_liq, on="CONTROL", lsuffix=".BEN", rsuffix=".BENLIQ" )\
#             .join(reparticion, on="LETRA" , rsuffix=".REP", )\
#             .join(brutos, on="CONTROL", rsuffix=".BRT")\
#             .join(tipos_beneficio, on="COD_BENEFICIO", rsuffix=".tb")
            

# minimos[minimos["BRUTO_act"] < minimo_policias]
# minimos["PX_act"] = np.where((minimos["LETRA"].isin([17,26]) & (minimos["BRUTO_act"] < minimo_policias*minimos["PORCENTAJE"])), minimo_policias*minimos["PORCENTAJE"]-minimos["BRUTO_act"], 0.0)
# minimos.fillna(0, inplace=True)

# minimos_pagados = beneficios_liq.join(liquidacion_liq, on=["PLLA","ORDEN","AFILIADO"],how="inner", rsuffix=".LIQ")\
#         .join(codigos, on=["CODIGO"], how="inner", rsuffix=".COD")

# minimos_pagados=minimos_pagados.loc[minimos_pagados["CODIGO"].isin(['PX']), ["MONTO"]]\
#         .groupby("CONTROL").sum("MONTO")

# minimos=minimos.join(minimos_pagados, on="CONTROL", rsuffix=".MINPAG").rename(columns={"MONTO":"PX_liq", "Detalle":"Reparticion", "Detalle.tb":"TIPO_BEN"})
# minimos.fillna(0.0, inplace=True)

# minimos=minimos.loc[(np.abs(minimos["PX_act"]-minimos["PX_liq"])>1)  ,["Reparticion", "TIPO_BEN", "BRUTO_act", "PX_act", "BRUTO_liq", "PX_liq"]]

# #minimos.to_excel(writer, "Minimos Retiros Policiales")

## Retroactivos

In [162]:
calculos = pd.read_sql("""SELECT D.CONTROL, D.NOMBRE, R.DETALLE AS REPARTICINO, DC.VALOR CUOTA, DC.FINI RETRO_DESDE, 
            DC.FFIN RETRO_HASTA, APLICARDESDE, APLICARHASTA
            FROM DATOSAFILIADO D INNER JOIN
            CALCULOS C ON C.CONTROL=D.CONTROL
            INNER JOIN DATCALCULOS DC ON DC.CODLIQ=C.CODLIQ
            INNER JOIN REPARTICION R ON R.COD=D.LETRA
            INNER JOIN PLANES P ON P.CODLIQ=C.CODLIQ
            WHERE MONTH(CONVERT(DATETIME, C.FECHA+2))=MONTH(GETDATE()) AND YEAR(CONVERT(DATETIME, C.FECHA+2))=YEAR(GETDATE())
            AND USUARIO = 'SISTEMAS'""", conn)

calculos.to_excel(writer, "Retroactivos_incrementos")

ws = writer.sheets["Retroactivos_incrementos"]
ws.set_column("E:H", 15, formato_fecha )

0

## Cerrar archivo excel y guardar

In [163]:
### Guardado y cierre del archivo excel
writer.close()

In [164]:
calculos

,CONTROL,NOMBRE,REPARTICINO,CUOTA,RETRO_DESDE,RETRO_HASTA,APLICARDESDE,APLICARHASTA
0,30340,ESQUIVEL TERESA,Munic. Santo Tomé,38353.00,45748,45748,45778,45778
1,34641,"AZAME, PETRONA CATALINA",Munic. Santo Tomé,18076.60,45748,45748,45778,45778
2,36345,"SUC. BRANDAN, REGINALDO ANTONIO",Munic. Santo Tomé,109881.41,45748,45748,45778,45778
3,40962,"BORRA, LUCIA MABEL",Munic. Santo Tomé,114737.75,45748,45748,45778,45778
4,56815,"CORDOBES, MARIA ITATI",Munic. Santo Tomé,18693.75,45748,45748,45778,45778
5,71837,"SUC.NAYA, GERMAN",Munic. Santo Tomé,59077.19,45748,45748,45778,45778
6,76698,"ALMADA, MIGUEL ANGEL",Munic. Santo Tomé,16503.70,45748,45748,45778,45778
7,77441,"GIMENEZ, LUIS ALFREDO",Munic. Santo Tomé,20252.99,45748,45748,45778,45778
8,77669,"CALISTO, JOSE OSCAR",Munic. Santo Tomé,18691.08,45748,45748,45778,45778
9,78282,"FERNANDEZ, JUAN",Munic. Santo Tomé,18519.68,45748,45748,45778,45778
10,78717,"GALVAN, RAQUEL JOSEFINA",Munic. Santo Tomé,31278.79,45748,45748,45778,45778
11,78857,"AYALA, NORMA BEATRIZ",Munic. Santo Tomé,28458.94,45748,45748,45778,45778
12,79157,"FLOREZ, HECTOR OSCAR",Munic. Santo Tomé,22077.95,45748,45748,45778,45778
13,79556,"CABRAL, JUAN CARLOS",Munic. Santo Tomé,24014.35,45748,45748,45778,45778
14,16769,SUC.ACUÑA ROQUE,Munic. Santo Tomé,61740.29,45717,45748,45778,45778
15,79556,"CABRAL, JUAN CARLOS",Munic. Santo Tomé,101492.70,45717,45748,45778,45778
16,79157,"FLOREZ, HECTOR OSCAR",Munic. Santo Tomé,93308.85,45717,45748,45778,45778
17,78857,"AYALA, NORMA BEATRIZ",Munic. Santo Tomé,120277.06,45717,45748,45778,45778
18,78717,"GALVAN, RAQUEL JOSEFINA",Munic. Santo Tomé,132194.66,45717,45748,45778,45778
19,78282,"FERNANDEZ, JUAN",Munic. Santo Tomé,78270.37,45717,45748,45778,45778
20,77669,"CALISTO, JOSE OSCAR",Munic. Santo Tomé,78994.79,45717,45748,45778,45778
21,76699,"GALES, RAUL SALVADOR",Munic. Santo Tomé,61163.83,45717,45748,45778,45778
22,77441,"GIMENEZ, LUIS ALFREDO",Munic. Santo Tomé,85595.93,45717,45748,45778,45778
23,75462,"INSAURRALDE, PEDRO NOLASCO",Munic. Santo Tomé,63691.08,45717,45748,45778,45778
24,76698,"ALMADA, MIGUEL ANGEL",Munic. Santo Tomé,69750.17,45717,45748,45778,45778
25,61158,"ARAUJO, RAUL ELVIO",Munic. Santo Tomé,61270.76,45717,45748,45778,45778
26,61161,"SANTAREM, JUAN CARLOS",Munic. Santo Tomé,64830.81,45717,45748,45778,45778
27,71837,"SUC.NAYA, GERMAN",Munic. Santo Tomé,249680.07,45717,45748,45778,45778
28,56815,"CORDOBES, MARIA ITATI",Munic. Santo Tomé,79006.06,45717,45748,45778,45778
29,40136,"ARANDA, ROSA ISABEL",Munic. Santo Tomé,66701.36,45717,45748,45778,45778
30,40962,"BORRA, LUCIA MABEL",Munic. Santo Tomé,484920.30,45717,45748,45778,45778
31,36345,"SUC. BRANDAN, REGINALDO ANTONIO",Munic. Santo Tomé,464395.78,45717,45748,45778,45778
32,34641,"AZAME, PETRONA CATALINA",Munic. Santo Tomé,76397.78,45717,45748,45778,45778